<h1>/ 列出全部 Todo</h1>

<form action="/new" method="get">
  <button type="submit" class="btn btn-primary">New</button>
</form>

<form action="/123456" method="get">
  <button type="submit" class="btn btn-primary">ID</button>
</form>